In [4]:
import pandas as pd
druid_file = "/homes/thdang/trang_amish/bonsai_results/toy_test.csv"
df = pd.read_csv(druid_file)

In [5]:
df.head()

,Unnamed: 0,real,druid,ca1,ca2,real_root_id,real_adj1,real_adj2,fake_adj1,fake_adj2,ca1_thread_id,ca2_thread_id,real_root_thread_id
0,0,"{-22: {-13: 3, -17: 3}}","{-18: {-13: 3, -17: 3}}",-13,-17,-22,3,3,3,3,b,f,q
1,1,"{-21: {-13: 3, -17: 3}}","{-18: {-13: 3, -17: 3}}",-13,-17,-21,3,3,3,3,b,f,p
2,2,"{-29: {-13: 1, -15: 1}}","{-16: {-13: 3, -15: 3}}",-13,-15,-29,1,1,3,3,b,c,h
3,3,"{-10: {-13: 1, -15: 1}}","{-16: {-13: 3, -15: 3}}",-13,-15,-10,1,1,3,3,b,c,g
4,4,"{-29: {-13: 1, -16: 1}}","{-17: {-13: 2, -16: 3}}",-13,-16,-29,1,1,2,3,b,d,h

In [6]:
df = df[['real_root_thread_id', 'ca1_thread_id', 'fake_adj1', 'real_adj1',
       'ca2_thread_id', 'fake_adj2', 'real_adj2']]
df["code"] = df["real_root_thread_id"] + ":" + df["ca1_thread_id"] + "-" + df["ca2_thread_id"]

In [7]:
df

,real_root_thread_id,ca1_thread_id,fake_adj1,real_adj1,ca2_thread_id,fake_adj2,real_adj2,code
0,q,b,3,3,f,3,3,q:b-f
1,p,b,3,3,f,3,3,p:b-f
2,h,b,3,1,c,3,1,h:b-c
3,g,b,3,1,c,3,1,g:b-c
4,h,b,2,1,d,3,1,h:b-d
5,g,b,2,1,d,3,1,g:b-d
6,l,b,2,2,e,3,1,l:b-e
7,h,b,3,1,h,3,0,h:b-h
8,q,f,4,3,d,4,3,q:f-d
9,p,f,4,3,d,4,3,p:f-d
10,q,f,4,3,e,4,2,q:f-e
11,p,f,4,3,e,4,2,p:f-e
12,h,c,4,1,d,4,1,h:c-d
13,g,c,4,1,d,4,1,g:c-d
14,l,c,4,2,e,4,1,l:c-e
15,q,f,3,3,h,3,2,q:f-h
16,p,f,3,3,h,3,2,p:f-h
17,h,c,3,1,h,3,0,h:c-h
18,h,d,3,1,h,3,0,h:d-h
19,l,e,3,1,h,3,1,l:e-h